:root{
    --main-text-color : #2D2641;
    --main-descr-color : #837d87;
    --main-line-height : 26px;
    --main-font-weight : 700;
    --main-font-family : "Dm Serif Display";
}

$text-color-white: #fff;
$font-size-20 : 20px;
$line-height : 40px;